@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome pijaku</h1>
    <p>Learn about <a href="https://pl.wikipedia.org/wiki/W%C3%B3dka">vodka</a>.</p>
</div>
